<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pokedex</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<style type="text/css">
		body{
			background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/English_Pok%C3%A9mon_logo.svg/2000px-English_Pok%C3%A9mon_logo.svg.png');
			background-size: cover;
			background-repeat: no-repeat; 
			background-position-y: 150px;
		}
		img{
			max-width: 300px;


		}
		.border{
			border: 2px solid;
			border-radius: 25px;
			width: 400px;
			margin: 0 auto;
			padding-bottom: 20px;
			background-color: white;
		}
		.image-container{
			border: 2px solid;
			border-radius: 25px;
			width: 117px;
			margin: 0 auto;
			background-color: grey;
			margin-top: 10px;
		}


	</style>
</head>
<body>
	<div class='border'>
		<center>
		<h1><img src="https://denkiphile.files.wordpress.com/2011/06/pokedex_logo.jpg" ></h1>

			<form>
				<input type='text' id='input-id-pokemon'>
				<input id='submitPokemon' type="submit" value="submit">
			</form>

		<div class="pokedex-container">
		</div>

		</center>
	</div>
		<center>
			<div class="image-container">
			</div>
		</center>
</body>
</html>
		


	



























